name: Run tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
          julia-version:
            - '1.6'   # minimum supported version
            - 'lts'   # latest LTS version
            - '1'     # latest stable version
            - 'pre'   # latest pre-release version
          os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
